name: Build
on: [push]
jobs:
  build:
    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '6.0.x'

    - run: dotnet run -c Release
      name: Run test
